

#navBar {
display: flex;
flex-direction: column;
justify-content: center;
}

#instructions {
color:purple;
font-size: 20x;
font-weight: bold;
}

#highScore {
Padding: auto;
font: 14px;
}

#formatDiv {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
width: 100%;
height: 100vh;
}

#mainContainer {
border: 5px solid purple;
height: 500px;
width: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
justify-content: space-evenly;
}



#mainContainer h1 {
text-align: center;
color:purple;
padding: 10px;
font-size: 24px;
display:flex;
flex:column;
align-items: center;
justify-content: center;
}

#mainContainer p {
text-align: center;
padding: 10px;
font-size: 14px;
}

#mainContainer button {
text-align: center;
padding: 10px;
}

#questionDiv {
display:none;

}

#endScreenDiv {
display: none;
}

#youWin {
display: none;
color: purple;
font-size:large;
}

#endScreenDiv {
color: purple;
font-size: 32px;
}

button {
border: 2px solid purple;
height:60px;
width:110px;
}

button:hover {
background-color: purple;
}

#buttonContainer {
display: flex;
align-items: center;
justify-content: center;
}

input {
border: 2px solid purple;
width: 45px;
height: 20px;
display: block;
}

#timer {
color: purple;
Padding: auto;
font-size: 32px;
}

.youWinFormat {
height: 400px;
width: 400px;
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

#highScoreSubmit {
border: 2px solid purple;
width: 45px;
height:20px;
display:block;
font-size: 12px;
text-align: center;
}

#highScoreList {
display: none;
color: red;
}